@charset "UTF-8"; 
* {
    margin: 0;
    padding: 0; 
    font-family: 'Mukta', sans-serif;
}

body {
    background-image: linear-gradient(90deg, #85DC82, #D0DB81, #81DBBC);
}

img{
    max-width:100%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

#pokemon,#pesquisa,#relogar{
    border: 1px solid black;
    box-shadow: 2px 2px 1px rgb(0, 0, 0);
    background-color: rgb(243, 229, 229);
    height: 30px;

    position: relative;
    top: 435px;
    left: 530px;
}
#pokemon:focus{
    outline: 0;
}
#pokemon{
    width: 200px;
}
#res{
    width: 130px;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,95%);
}
#type1,#type2{
    width: 70px;
    text-align: center;
    border: 1px solid black;
    position: relative;
    top:150px;
    left:550px;
    display: none;
}

#pokemons{
    width: 80px;
    position: relative;
    top: 190px;
}
#pesquisa:hover{
    background-color: rgb(238, 109, 109);
    transition: 0.5ms;
}
#relogar:hover{
    background-color: rgb(238, 109, 109);
    transition: 0.5ms;
}